.tab-pane {
    -fx-background-color: #CCFF99;
    -fx-font-family: Verdana;
    -fx-font-size: 12px;
}

.button {
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 2px;
    -fx-border-color: black;
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 5, 0.0, 0, 0);
}